jc-chat-list-view {
  flex: 1;

  z-index: 200;
  height: 100vh;
  margin-left: 10%;
  padding-right: 10%;
  padding-top: 10px;


  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

jc-chat-input-form {
  flex: none;
}
