jc-chat-list-view {
  flex: 1;
  height: 100vh;

  margin-left: 10%;
  padding-right: 10%;
  padding-top: 10px;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  flex-direction: column;
}

jc-chat-input-form {
  flex: none;
}
