@import '../../../app/styles/colors.scss';

:host {
  display: block;
  .scrollContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    flex-wrap: wrap;
    min-height: 100%;
  }
}

.card {
  flex: none;
  z-index: 100;
  margin-bottom: 4em;
}

.card-body {
  margin: 0;
  padding: 10px;
  font-size: 0.9em;
}

.card.incoming > .card-body > .card-text.incoming {
  display: block !important;
  font-size: .7em;
  font-weight: bold;
  margin: 0; padding: 0;
}

.card-footer {
  padding: 5px 10px 5px 10px;
  font-size: 0.7em;
}

.ml-auto {
  background-color: $rightAlignedMessageBG !important;
}

.mr-auto {
  background-color: $leftAlignedMessageBG !important;
}
