@import './app/styles/colors.scss';

* {
  z-index: 100;
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: $darkgray;
  height: 100%;
  min-height: 100%;
}

.navbar {
  height: 50px;
}

body {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

jc-root {
}

footer{
  color: gold;
  font-size: .7em;
  height: 50px;
}

.jeditilt {
  display: flex;
  perspective: 100px;
  span,div  {
    text-align: center;
    transform: rotatex(20deg);
    text-effect: outline;
    color: gold;
    text-shadow: 0 0 10px black;
  }
}

.bg-primary, .btn-primary {
  background-color: blue !important;
  border-color: blue !important;
  color: gold !important;
  font-weight: bold;
}
