@import './app/styles/colors.scss';

/* You can add global styles to this file, and also import other style files */

body {
  //background-image: url('/assets/images/background.png');
  //background-repeat: no-repeat;
  //background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: $darkgray;
}

footer {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 0.8em;
  padding: 0 10px;
  background-color: $lightgray;
}

.jeditilt {
  display: flex;
  perspective: 100px;
  span {
    text-align: center;
    transform: rotatex(30deg);
    text-effect: outline;
    color: gold;
    text-shadow: 0 0 10px black;
  }
}
